<script src="blueprint/build/js/bp3djs.js"></script>
<!-- <script src="js/bp3djs.min.js"></script> -->
<script src="blueprint/build/js/items.js"></script>
<script src="blueprint/build/js/items_gltf.js"></script>
<script src="blueprint/build/js/app.js"></script>
<div id='interfaces' class='card'>
    <div id="floorplanner" class='front'>
        <div id="floorplanner-controls">
            <a href="#" class="btn btn-default btn-sm glyphicon glyphicon-floppy-disk" id="new2d"
                title="New Layout"></a>
            <a class="btn btn-default btn-sm glyphicon glyphicon-floppy-save" id="saveFile2d"
                title="Save Layout"></a>
            <a class="btn btn-sm btn-default btn-file glyphicon glyphicon-floppy-open" id="openLoadFile2d">
            </a>
            <input type="file" style="display: none !important" id="loadFile2d">
            <button id="move" class="btn btn-sm btn-default" title="Move Walls">
                <span class="glyphicon glyphicon-move"></span>
            </button>
            <button id="draw" class="btn btn-sm btn-default" title="Draw New Walls">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button id="delete" class="btn btn-sm btn-default" title="Delete Walls">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button id="help2d" class="btn btn-sm btn-default"
                title="Tips&#10;Shift Key: Snap To Axis&#10;ESC: Stop drawing walls&#10;DbL-Click(Corner): Adjust Elevation&#10;;DbL-Click(Room): Change Name&#10;">
                <span class="glyphicon glyphicon-info-sign"></span>
            </button>
        </div>
        <div class="btn-hint ">Press the "Esc" key to stop drawing
            walls</div>
        <canvas id="floorplanner-canvas"></canvas>
    </div>

    <div id="viewer" class='back'>
        <div id="main-controls">
            <a href="#" class="btn btn-default btn-sm glyphicon glyphicon-floppy-disk" id="new" title="New Layout"></a>
            <a href="#" class="btn btn-default btn-sm glyphicon glyphicon-floppy-save" id="saveFile"
                title="Save Layout"></a>
            <a class="btn btn-sm btn-default btn-file glyphicon glyphicon-floppy-open">
                <input type="file" class="hidden-input" id="loadFile">
            </a>
            <a href="#" class="btn btn-default btn-sm glyphicon glyphicon-asterisk" id="saveMesh"
                title="Save Scene as a mesh"></a>
            <a href="#" class="btn btn-default btn-sm glyphicon glyphicon-export" id="saveGLTF"
                title="Save Scene as a GLTF"></a>
        </div>
    </div>
</div>
<div id='interface-controls'>
    <button id="showFloorPlan" class="btn btn-sm btn-default active" title="Edit 2D floorplan">
        <span class="glyphicon glyphicon-move"></span> Floor Plan
    </button>
    <button id="showDesign" class="btn btn-sm btn-default" title="Edit 3D floorplan">
        <span class="glyphicon glyphicon-move"></span> 3D
    </button>
    <div class="btn-group-vertical" id='viewcontrols'>
        <div class="btn btn-sm btn-default">
            <a class="btn btn-default bottom" href="#" id="leftview" title="Show side view (left)">
                <span class="glyphicon glyphicon glyphicon-object-align-left"></span>
            </a>
            <span class="btn-group-vertical">
                <a class="btn btn-default" href="#" id="topview" title="Show top view">
                    <span class="glyphicon glyphicon glyphicon-object-align-horizontal"></span>
                </a>
                <a class="btn btn-default" href="#" id="isometryview" title="Show 3d view">
                    <span class="glyphicon glyphicon glyphicon-inbox"></span>
                </a>
                <a class="btn btn-default" href="#" id="frontview" title="Show front view">
                    <span class="glyphicon glyphicon glyphicon-object-align-vertical"></span>
                </a>
            </span>
            <a class="btn btn-default bottom" href="#" id="rightview" title="Show side view (right)">
                <span class="glyphicon glyphicon glyphicon-object-align-right"></span>
            </a>
        </div>
        <button id="showSwitchCameraMode" class="btn btn-sm btn-default" title="Switch Camera ortho/perspective">
            <span class="glyphicon glyphicon-camera"></span>
        </button>
        <button id="showSwitchWireframeMode" class="btn btn-sm btn-default" title="Switch wireframe mode">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </div>
    <button id="showAddItems" class="btn btn-sm btn-default" data-toggle="modal" data-target="#add-items-modal"
        title="Add/Remove items in 3D">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <button id="showFirstPerson" class="btn btn-sm btn-default" title="Walk through">
        <span class="glyphicon glyphicon-eye-open"></span>
    </button>
</div>

<!-- Add Items -->
<div class="modal fade" id="add-items-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Furniture Inventory</h4>
            </div>
            <div class="modal-body">
                <div id="add-items" class="panel-group">

                    <div id="floor-items" class="panel panel-default">
                        <div id="floor-items-header" class="panel-heading">
                            <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#add-items">Floor Items</a>
                        </h4>
                    </div>
                        <div id="floor-items-body" class="panel-collapse collapse inventory-content">
                            <div class="row panel-body" id="floor-items-wrapper">
                                <!-- Items added here by items.js -->
                            </div>
                        </div>
                    </div>


                    <div id="roof-items" class="panel panel-default">
                        <div id="roof-items-header" class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#add-items">Ceiling
                                    Items</a>
                            </h4>
                        </div>
                        <div id="roof-items-body" class="panel-collapse collapse inventory-content">
                            <div class="row panel-body" id="roof-items-wrapper">
                                <!-- Items added here by items.js -->
                            </div>
                        </div>
                    </div>


                    <div id="wall-items" class="panel panel-default">
                        <div id="wall-items-header" class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#add-items">Wall Items</a>
                            </h4>
                        </div>
                        <div id="wall-items-body" class="panel-collapse collapse inventory-content">
                            <div class="row panel-body" id="wall-items-wrapper">
                                <!-- Items added here by items.js -->
                            </div>
                        </div>
                    </div>
                    <div id="in-wall-items" class="panel panel-default">
                        <div id="in-wall-items-header" class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#add-items">In Wall Items</a></h4>
                        </div>
                        <div id="in-wall-items-body" class="panel-collapse collapse inventory-content">
                            <div class="row panel-body" id="in-wall-items-wrapper">
                                <!-- Items added here by items.js -->
                            </div>
                        </div>
                    </div>
                    <div id="in-wall-floor-items" class="panel panel-default">
                        <div id="in-wall-floor-items-header" class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#add-items">In Wall Floor Items</a></h4>
                        </div>
                        <div id="in-wall-floor-items-body" class="panel-collapse collapse inventory-content">
                            <div class="row panel-body" id="in-wall-floor-items-wrapper">
                                <!-- Items added here by items.js -->
                            </div>
                        </div>
                    </div>
                    <div id="on-floor-items" class="panel panel-default">
                        <div id="on-floor-items-header" class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#add-items">On Floor Items</a></h4>
                        </div>
                        <div id="on-floor-items-body" class="panel-collapse collapse inventory-content">
                            <div class="row panel-body" id="on-floor-items-wrapper">
                                <!-- Items added here by items.js -->
                            </div>
                        </div>
                    </div>
                    <div id="wall-floor-items" class="panel panel-default">
                        <div id="wall-floor-items-header" class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#add-items">Wall-Floor Items</a></h4>
                        </div>
                        <div id="wall-floor-items-body" class="panel-collapse collapse inventory-content">
                            <div class="row panel-body" id="wall-floor-items-wrapper">
                                <!-- Items added here by items.js -->
                            </div>
                        </div>
                    </div>
                    <div id="item-items" class="panel panel-default">
                        <div id="item-items-header" class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#add-items">Anywhere Items</a>
                            </h4>
                        </div>
                        <div id="item-items-body" class="panel-collapse collapse inventory-content">
                            <div class="row panel-body" id="item-items-wrapper">
                                <!-- Items added here by items.js -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
